* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spinner {
    margin: 0 auto;
}

.movie-list-wrapper-active {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1010px;
    height: auto;
    margin: 0 auto;
    /* padding: 32px; */
}

.movie-list-wrapper {
    display: none;
}