* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tabs-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 146px;
    height: 48px;
    margin: 0 auto;
    border-bottom: red;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    margin-bottom: 10px;
}

.search-tab {
    position: relative;
    border: none;
    outline: none;
    background: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1890FF;
}

.search-tab:hover {
    cursor: pointer;
}

.active-search-tab {
    position: relative;
    border: none;
    outline: none;
    background: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1890FF;
}

.active-search-tab::after {
    position: absolute;
    display: block;
    top: 30px;
    left: -9px;
    content: '';
    width: 65px;
    height: 2px;
    background: #1890FF;
}

.rated-tab {
    position: relative;
    border: none;
    outline: none;
    background: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1890FF;
}

.rated-tab:hover {
    cursor: pointer;
}

.active-rated-tab {
    position: relative;
    border: none;
    outline: none;
    background: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1890FF;
}

.active-rated-tab:hover {
    cursor: pointer;
}

.active-rated-tab::after {
    position: absolute;
    display: block;
    top: 30px;
    left: -9px;
    content: '';
    width: 65px;
    height: 2px;
    background: #1890FF;
}