* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1010px;
    height: auto;
    margin: 0 auto;
    padding: 32px;
}

.search-pagination-active {
    margin: 0 auto;
}

.search-pagination {
    display: none;
}

.rated-pagination-active {
    margin: 0 auto;
}

.rated-pagination {
    display: none;
}

.spinner {
    margin: 0 auto;
}